<input type="text" placeholder="input name" ng-model="employeeInfo.name" ng-change="flag=true"  />
<input type="text" placeholder="input role" ng-model="employeeInfo.role" ng-change="flag=true"/>
<input type="text" placeholder="input project name" ng-model="employeeInfo.project.project_name" ng-change="flag=true"/>
<input type="text" placeholder="input location" ng-model="employeeInfo.project.project_location" ng-change="flag=true"/>
<button ng-click ="addOrUpdate(e)" ng-disabled="(!flag || !employeeInfo.name|| !employeeInfo.role|| !employeeInfo.project.project_name || !employeeInfo.project.project_location)" >{{btn}}</button>